.ul-searchPage img {
    width: 200px;
}

.ul-searchPage li {
    list-style: none;
    display: flex;
    margin: 30px;
}

.ul-searchPage {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

