.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(194, 194, 194);
}

 

a {
  list-style: none;
  margin: 10px;
  border: 1px solid rgb(104, 104, 104);
  width: 150px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

a:hover {
  background-color: rgb(104, 104, 104);
}

.ulNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .is-active {
  background-color: rgb(104, 104, 104);
}